.currencySwitcher {
  padding: 10px 0px;
  position: absolute;
  width: 114px;
  left: 714px;
  top: 65px;
  text-align: left;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.backdrop {
  position: absolute;
  left: 1256px;
  top: 65px;
  text-align: left;
  z-index: 10;
}
