@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap");

.header {
  width: 1240px;
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 1440px;
  display: flex;
}

.links {
  font-family: Raleway;
  font-weight: 600;
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  padding: 4px 16px 32px 16px;
  color: #1d1f22;
}

.links:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.links {
  color: #1d1f22;
  text-decoration: none;
}

.currency_cart {
  display: flex;
  margin-right: 22px;
}

.selected_currency {
  padding-right: 15px;
}

.myBag {
  position: relative;
}

.myBagBadge {
  color: white;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 65.5%;
  bottom: 55.75%;
  background: #1d1f22;
  border-radius: 60px;
  background-repeat: no-repeat;
  text-align: center;
}
.currencyBag {
  display: flex;
}
