.categoryName {
  font-family: Raleway;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 103px;
  text-transform: capitalize;
}

.flex {
  width: 1440px;
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
