@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: 80px 610px 300px;
  grid-template-rows: auto;
}

.smallImages {
  width: 80px;
  height: 79px;
}

.addToCartButton {
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  width: 292px;
  height: 52px;
  border: none;
  color: white;
  background: #5ece7b;
}

.productDetails {
  text-align: left;
}

.mainImage {
  width: 590px;
  height: 511px;
  object-fit: cover;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #8d8f9a;
  text-transform: uppercase;
}

.sizeBox {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  box-sizing: border-box;
}

.selected {
  background: #1d1f22;
  border: 1px solid #1d1f22;
  color: white;
}

.sizeBoxUnavailable {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}

.allBoxesSize {
  display: flex;
}

.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  color: #1d1f22;
}

.price {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  align-items: center;
  color: #1d1f22;
}

.titleDescription {
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 18px;
  color: #1d1f22;
  margin-bottom: 10px;
}

.options {
  background-color: white;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
}
.active {
  background: #1d1f22;
  color: white;
}

select {
  margin-bottom: 10px;
}

.productName {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  align-items: center;
  color: #1d1f22;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.opacity {
  opacity: 0.5;
}
.border {
  outline: 5px groove #ced3d4;
}
