.sizeBox {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  box-sizing: border-box;
}
.sizeBox:hover {
  background: #1d1f22;
  border: 1px solid #1d1f22;
  color: white;
}
.sizeBoxUnavailable {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}
.allBoxesSize {
  display: flex;
}
