.myBagWrapper {
  background: #ffffff;
  padding-left: 16px;
  position: absolute;
  left: 1028px;
}

.changeQuantityButton,
.sizes {
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: white;
}

.bagTitle {
  text-align: left;
}
.total,
.detailButton {
  display: flex;
  justify-content: space-between;
}
.viewBagButton {
  width: 140px;
  height: 43px;
  padding: 31px 13px;
  border: 1px solid #1d1f22;
  background: white;
}
.checkOutButton {
  width: 142px;
  height: 43px;
  padding: 30px 13px;
  background: #5ece7b;
  color: white;
  border: none;
}

.backdrop {
  position: fixed;
  top: 80px;
  left: -80px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(57, 55, 72, 0.22);
}
