.wrapper {
  display: grid;
  grid-template-columns: 80px 610px 300px;
  grid-template-rows: auto;
}
.smallImages img {
  width: 80px;
  height: 79px;
}
.addToCartButton {
  width: 292px;
  height: 52px;
  border: none;
  color: white;
  background: #5ece7b;
}
.productDetails {
  text-align: left;
}
.mainImage img {
  width: 610px;
  height: 511px;
}
.sizeBox {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d1f22;
  color: #1d1f22;
  box-sizing: border-box;
}
.sizeBox:hover {
  background: #1d1f22;
  border: 1px solid #1d1f22;
  color: white;
}
.sizeBoxUnavailable {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}
.allBoxesSize {
  display: flex;
}
